<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>
        X-admin v1.0
    </title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="/static/css/x-admin.css" media="all">
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>

<body style="background-color: #393D49">
<div class="x-box">
    <div class="x-top">
        <i class="layui-icon x-login-close">
            &#x1007;
        </i>
        <ul class="x-login-right">
            <li style="background-color: #F1C85F;" color="#F1C85F">
            </li>
            <li style="background-color: #EA569A;" color="#EA569A">
            </li>
            <li style="background-color: #393D49;" color="#393D49">
            </li>
        </ul>
    </div>
    <div class="x-mid">
        <div class="x-avtar">
            <img src="/static/images/logo.png" alt="">
        </div>
        <div class="input" id="app">
            <form class="layui-form">
                <div class="layui-form-item x-login-box">
                    <label for="username" class="layui-form-label">
                        <i class="layui-icon">&#xe612;</i>
                    </label>
                    <div class="layui-input-inline">
                        <input v-model="username" type="text" id="username" name="username" required="" lay-verify="username"
                               autocomplete="off" placeholder="username" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item x-login-box">
                    <label for="pass" class="layui-form-label">
                        <i class="layui-icon">&#xe628;</i>
                    </label>
                    <div class="layui-input-inline">
                        <input v-model="password" type="password" id="pass" name="pass" required="" lay-verify="pass"
                               autocomplete="off" placeholder="******" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item" id="loginbtn">
                    <button  @click="sub()" class="layui-btn"  >
                        登 录
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
<script src="/static/lib/layui/layui.js" charset="utf-8">
</script>
<script>

    window.onload = function() {
        layui.use(['form'],
                function() {
                    $ = layui.jquery;
                    var form = layui.form(), layer = layui.layer;

                    $('.x-login-right li').click(function (event) {
                        color = $(this).attr('color');
                        $('body').css('background-color', color);
                    });

                });
        var vm = new Vue({
            el: '#app',
            data: {
                username: '',
                password: '',
            },
            methods: {
                sub:function () {
                    event.preventDefault();
                    data = {
                        username:this.username,
                        password:this.password
                    };
                    $.ajax({
                        type: "POST",
                        url: "/login/do",
                        traditional: true,
                        // contentType: "application/json",
                        // data: JSON.stringify(data),
                        data: data,
                        success: function (str) {
                            rsp = $.parseJSON(str);
                            if (rsp.code < 0){
                                layer.msg(rsp.msg);
                                return false;
                            }
                            layer.msg();
                            window.location.href = '/back/index/index';
                        }
                    })
                },
            }
        })
    }

</script>
</body>

</html>